html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #FEFAE0;
    color: #7E9F77;
}

/* header style */
header {
    text-align: center;
    height: 50px;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    min-height: 80px;
    font-size: 25px;
}