html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #FEFAE0;
    color: #7E9F77;
}

/* header style */
.home-box {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    font-size: 33px;
}
